.needCard{
  padding: 15px 22px;
	box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	@media(max-width:768px) {
		padding: 15px;
	}
	&--header {
	  .needOwnerAction{
			color: lightgrey;

	    i:hover {
	      color: grey;
	      cursor: pointer;
	    }
		}
	}
	.needProject {
		display: none;
		margin:10px 0 0;
		font-size:17px;
		a {
			font-size:17px;
			&:hover {
				opacity: .8;
			}
			i {
				font-size: 15px;	
			}
		}
	}

	h5 {
		font-family: "Bebas Kai" !important;
		font-size: 24px;
		color:#343a40;
	}

.need-manage {
	cursor: pointer;
}
.alert {
	display: none;
}


.statusTag {
	padding: 5px 15px;
	border-radius: 30px;
	text-align: center;
	height: 32px;
	line-height: 20px;
	margin-left: 0px;
	background: lightgray;
	width: 110px;
	&.true {
		background: #FFC106!important;
	}
	&.completed {
		background: lightgray!important;
	} 
}

.right { // dropdown of the actions buttons (edit, delete..)
	color: lightgray;
	.dropright button {
		padding: 0px 8px;
		height: 30px;
		opacity: .8;
		box-shadow: none;
		border:none;
		margin-top: 0!important;
		&:after {
			display: none;
		}
		&:hover {
			opacity: .9;
		}
		&:focus {
			box-shadow: none;
		}
	}
	.dropdown-menu {
		cursor: default;
			transform: translate3d(-165px, 29px, 0px);
		div {
			margin-left:10px;
			width: fit-content!important;
			&:hover {
				cursor: pointer;
				opacity: .7;
			}
		}
	}
	span {
		padding-right: 5px;
	}
	&:hover {
		color: darken(lightgray, 30);
	}
}

	&--content {

		.needContent {
			padding: 17px 0;
			word-break: break-word;
		}

		.infoSkills {
			margin-bottom: 10px;
		}

    .infoRessources {
      margin-bottom: 10px;
    }

	  .needFeed {
			margin: 25px 0 50px;
			position: relative;

	    .zoneFeed{
	      border: 1px solid #CBCBCB;
	      padding: 5px;
	      overflow: hidden;
				position: relative;
	    }

	    .btnSee{
	      position: absolute;
	      bottom: -17px;
				right:calc(50% - 60px);
	      width: 100px;
	    }
		}
	}

	&--footer {
		margin-top:10px;
		.needStats {
			font-size:15px;
			font-weight: 500;
			color: #b0b0b0;
			margin-bottom: 10px;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			@media(maxi-width:768px) {
				margin-bottom: 8px;
			}
		}
		.btnToggleMode {
			margin:0;
		}
	}

}
