@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.commentCreate {
  border-radius: 10px!important;
  box-shadow: none!important;
  .inputBox {
    border-bottom: none !important;
    padding: 0 0 0 5px!important;

		@media (max-width: 500px) {
      padding: 20px 15px 15px;
    }
    .userImgContainer {
      width: 40px!important;height: 40px!important;
    }
    .userImg {
      width: 40px!important;height: 40px!important;
		}
	}
	.btn-primary {
		display: none;
		margin: 6px 0 0 57px;
	}
  .suggestionsContainer__highlighter {
    min-height: 33px!important;
  }
  .postInputMentions {
    padding: 0 20px 0 0px !important;
    background: #F2F3F4;
    border-radius: 10px;
  }
}

.commentUpdate {
  // min-width: 500px;
  .inputBox {
    border-bottom: none;
  }
  .postInputMentions {
    width: 100%;
    padding: 0px !important;
    margin-bottom: 10px;
    background: #F2F3F4;
    border-radius: 0px;
    .suggestionsContainer__control {
      background: #e2e2e2 !important;
      height:auto;
      border: none !important;
      min-height:40px!important;
      padding:5px 15px 5px 5px;
      border-radius: 20px;
      .suggestionsContainer__input {
        margin-bottom: 0px !important;
        font-weight: 400 !important;
        // font-size: 14px !important;
				font-size: 15px !important;
				line-height: 24px;
      }
		}
		textarea {
      min-height: 30px!important;
    }

	}
}
