.needs {
	&.single { // custom style for single need page
		margin: 100px auto 0;
		max-width: 780px;
		@media(max-width:780px) {
			margin: 90px auto 0;
			padding: 0 5px!important;
		}
		.needCard .needProject {
			display: block;
		}
		.zoneFeed {
			height: auto!important;
			padding: 0!important;
			border:none!important;
			.feed {
				padding: 2px!important;
			}
		}
		.needFeed {
			margin: 25px 0 0;
			h6 {
				margin-top:20px;
				text-decoration: underline;
			}
			.btnSee {
				display: none;		
			}
		}
		.btnToggleMode {
			display: none;
		}
	}
}

.needCreate {
	padding: 15px 5px;
	&.justButton {
		padding: 0 0 25px 0;
	}
	.btn {
		margin: 0;
	}
	&.isCreating{
		box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
		margin: 0px 0 50px;
	}
}

.needUpdate{
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	padding: 15px 22px;
	margin-bottom: 30px;
	&--Header {
		margin-bottom: 50px;
	}

  .btnStatus{
    width: 100px;
    margin-right: 10px;
  }
}