.searchPageAll {
	h1 {
		margin-bottom: 20px;
	}
	.searchPageHeader {
		margin-top:105px;
	}

	.nav {
		.indexType {
			// background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
			background: #E9EDF1;
			// border:1px solid grey;
	    border-radius: 2;
	    border-radius: 21px;
	    padding: 5px 20px;
	    color: #5C5C5D;
			line-height: 30px;
			margin: 0 19px 15px 0;
			&.active, &:hover {
				background: #2987CD;
				// background: linear-gradient(to bottom, rgb(95, 174, 235) 0%,#2987CD 100%);
				color:white;
				text-decoration: none;
			}
		}
		@media(max-width:700px) {
			// justify-content: space-around;
			flex-wrap: nowrap;
			overflow-y: scroll;
			.indexType {
				margin: 0 3px 15px;
			}
		}
	}
}
