@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';
// 

.infoInterests {
	padding-bottom: 25px;
	width: 100%;
	@media(max-width:480px) {
		padding-bottom: 15px;
	}
	.interests {
		display: flex;
		flex-wrap: wrap;
	}
  .interest{
		margin: 5px 10px 5px 0;
		&.toggle {
			display: none;
		}
    .imgInterest{
      max-width: 98px;
      width: 100%;
    }

    .selected{
      border: 7px solid theme-color("success");
      border-radius: 5px;
    }

    .interestElement{
      position: absolute;
      left: -9999px;
    }
	}
	.less, .more {
		color: theme-color("primary");
		cursor: pointer;
		height: fit-content;
		&:hover {
			color:darken(theme-color("primary"), 15)
		}
	}
	.less {
		display: none;
	}
}
