@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

footer{
	.footer-top {
		padding: 10px 0 10px;
		background-color: #F8F9FA;
		img {
			width: 140px;
			min-width: 140px;
			margin-bottom: 20px;
		}
		.footCol {
			margin:20px 0;
		}
		.social-networks {
			margin-top: 20px;
			a {
				font-size: 26px;
				color: #777;
				padding: 10px;
				transition: 0.2s;
				&:hover {
					text-decoration: none;
				}
			}
			.facebook:hover {
				color: #0077e2;
			}
			.twitter:hover {
				color: #00aced;
			}
			.linkedin:hover {
				color: #0277B5;
			}
			.instagram:hover {
				color: #C43670;
			}
		}
	}
	.footer-bottom {
		padding: 25px 0 20px;
		background-color: #343A40;
		color: #eee;
		p {
			color: #eee;
		}
		// .footer-language {
		// 	text-align: right;
		// 	@media (max-width:577px) {
		// 		text-align: center;
		// 	}
		// }
		&--right {
			display: grid;
			justify-content: flex-end;
			@media (max-width:577px) {
				justify-content: center;
				margin:25px 0 10px;
			}
			button {
				margin:auto;
				justify-content: center;
				width: fit-content;
				height: fit-content;
				margin-bottom: 23px;
			}
			a {
				color: #222;
			}
		}
		&--copyright {
			align-self: center;
			@media (max-width:577px) {
				text-align: center;
			}
			p {
				margin-bottom: 5px;
			}
		}
	}

	.contact {
		button {
			margin-left: 0px;
		}
		p {
			margin-top:15px;
		}
	}
	
	// .changeLanguage {
	// 	margin-left: auto;
	// 	button {
	// 		color:white!important;
	// 	}
	// }

	.popup {
		display: none;
		.mce-error-response, .mce-success-response {
			display: none;
		}
		.formAbsolute {
			position: absolute;
			left: -5000px;
		}
	}
	
	#signInModal {
		.modal-body button {
			margin:0;
			.nav-link {
				padding: 0;
				color:white;
			}
		}
	}

}