@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

.challengeHeader {
	&--title {
		text-align: center;
		margin: 20px auto 15px;
		h1 {
			@media(max-width: 991px) {
				font-size:30px;
			}
			@media(max-width: 480px) {
				font-size:27px;
			}
		}
	}
	&--info {
		.info a {
	     margin-left:0!important;
		}
	}
	.programAndDates {
		@media(max-width:768px) {
			text-align: center;
			margin: 20px 0 30px;
		}
		.btn {
			margin-top:15px;
		}
		> .info a {
			text-decoration: underline;
		}
		span.status {
			color: theme-color("primary");
		}
	}

	.statusContainer .btn {
		margin: 15px 0 0;
	}

	.zoneBtnActions {
		margin-bottom: 15px;
		.challengeBtns {
			display: flex;
			flex-wrap: wrap;
			@media (min-width:1243px) {
				flex-wrap: nowrap!important;
			}
			@media(max-width:768px) {
				justify-content: center!important;
			}
			.btn {
				margin-right: 0px!important;
				margin-left: 15px;
			}
			#modalAddProject {
				.btn {
					margin-left: 0px!important;
				}	
			}
			.dropdown-menu {
				.btn {
					width: inherit;
					margin: 4px 0px;
				}
			}
			.hiddenAddBtn {
				width: 1px;
				height: 1px;
				> .btn {
					visibility: hidden;
					width: 1px;
					height: 1px;
					padding: 0;
					margin: 0;
				}
			}
			.dropdown-menu {
				@media (max-width:1450px) {
					transform: translate3d(-52px, 48px, 0px)!important;
				}
			}
		}
	}

	.challengeStats {
		margin-top:20px;
		@media(max-width:768px) {
			text-align: center!important;
		}
	}

}