@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.programHeader {
	.banner {
    width: 100%;
		min-height: 400px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		// @media(max-width: 480px) {
		// 	height: 200px;
    // }
	}
	&--title {
		text-align: center;
		margin: 20px auto 15px;
		h1 {
			@media(max-width: 991px) {
				font-size:30px;
			}
			@media(max-width: 480px) {
				font-size:27px;
			}
		}
	}
	.short_desc p{
		word-break: break-word;
	}
	.info {
		color:color("gray-dark");
		a {
			color:inherit;
			margin-left:8px;
			&:hover {
				text-decoration: underline;
			}
		}
		strong {
			font-weight: bold;
		}
		span.status {
			color: theme-color("primary");
			margin-left:8px;
		}
		span.projectNb, span.challengetNb, span.communityNb, span.programNb {
			font-size:23px;
			margin-right: 4px;
			font-weight: bold;
		}
		@media(max-width:768px) {
			text-align: center;
		}
	}
	.infos span{
		padding-left:10px;
		color:#bbbbbb;
	}
	.projectStats, .challengeStats, .communityStats, .programStats {
		strong {
			font-weight: 400;
		}
	}
	.zoneBtnActions {
		margin-top: 10px;
		margin-bottom: 15px;
		text-align: right;
		button {
			margin-right: 0!important;
			margin-left: 15px;
		}
		@media(max-width:768px) {
			text-align: center;
		}
	}
	.infoDefault {
		margin: 20px 0!important;
		.skill {
			margin-right: 10px;
		}
	}
	.infoInterests {
		margin-top:28px;
		.interest{
			.imgInterest{
				@media(max-width: 480px) {
					max-width: 80px;
				}
			}
		}
	}
	.programStats {
		margin-top: 15px;
		span {
			margin-right: 0!important;
		}
		@media (max-width: 768px) {
			text-align: center !important;
		}
	}

}

.programDetails {
	.carousel-inner p{
		color:#fff;
		font-size:20px;
		margin-top:10px;
		text-align:center;
		font-family: 'Gloria Hallelujah', cursive;
	}
	
	.carousel-showmanymoveone
	{
		.carousel-control
		{ 
			width:0%;
			background-image:none;
		}
	
		.cloneditem-1, 
		.cloneditem-2, 
		.cloneditem-3
		{
			display: none;
		}
	
		.carousel-inner
		{
			@media all and (min-width: 768px)
			{
				@media (transform-3d), (-webkit-transform-3d)
				{
					> .item.active.right,
					> .item.next
					{ 
						transform: translate3d(50%, 0, 0);  
						left: 0;
					}
	
					> .item.active.left,
					> .item.prev
					{ 
						transform: translate3d(-50%, 0, 0);
						left: 0;
					}
	
					> .item.left,
					> .item.prev.right,
					> .item.active
					{
						transform: translate3d(0, 0, 0);
						left: 0;
					}    
				} 
	
				> .active.left,
				> .prev
				{
					left: -50%;
				}
	
				> .active.right,
				> .next
				{
					left:  50%;
				}
	
				> .left,
				> .prev.right,
				> .active
				{
					left: 0;
				}
	
				.cloneditem-1 
				{
					display: block;
				}
			}
	
			@media all and (min-width: 992px)
			{    
				@media (transform-3d), (-webkit-transform-3d)
				{
					> .item.active.right,
					> .item.next
					{ 
						transform: translate3d(33%, 0, 0);  
						left: 0;
					}    
	
					> .item.active.left,
					> .item.prev
					{ 
						transform: translate3d(-33%, 0, 0);
						left: 0;
					}
	
					> .item.left,
					> .item.prev.right,
					> .item.active
					{
						transform: translate3d(0, 0, 0);
						left: 0;
					}
				}
	
				> .active.left,
				> .prev
				{
					left: -33%;
				}
	
				> .active.right,
				> .next
				{
					left:  33%;
				}
	
				> .left,
				> .prev.right,
				> .active
				{
					left: 0;
				}
	
				.cloneditem-2, 
				.cloneditem-3
				{
					display: block;
				}
			}    
		}
	}
	
	
	#carousel{
		margin-bottom:50px;
	}
}